#page-landing{
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-title);
    background-color: var(--color-primary);
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container img {
    margin-top: 5rem;
    height: 8rem;
    max-width: 100%;
}

.logo-container h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0.3rem;
}

.heroImg {
    width: 100%;
}

.buttons-container{
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 5.4rem;
    border-radius: 0.8rem;
    font: 400 2.0rem Poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    text-decoration: none;
    color: var(--color-title);
}

.buttons-container a:first-child {
    margin-right: 1.6rem;
}

.buttons-container a.student{
    background-color: var(--color-secundary);
    
}

.buttons-container a.student:hover{
    background-color: var(--color-secundary-dark);
}

.buttons-container a.admin {
    background-color: var(--color-secundary-light);
}

.buttons-container a.admin:hover {
    background-color: #aa68c2;
}

.button-icon {
    margin-right: 1rem;
    font-size: 1.6rem;
}

.span-description {
    justify-content: center;
    text-align: center;
}

.span-description h3 {
    font-weight: 400;
    font-size: 1.4rem;
}

@media (min-width: 1100px) {
    #page-landing-content {
        max-width: 1100px;

        display: grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
        "logo hero hero"
        "buttons total total"
        ;
    }

    .logo-container {
        grid-area: logo;
        align-self: flex-start;
        margin-top: 1rem;
        text-align: left;
    }

    .logo-container h2 {
        text-align: initial;
        font-size: 2.5rem;
    }

    .logo-container img {
        height: 100%;
        margin-top: 0;
    }

    .heroImg {
        grid-area: hero;
        justify-self: end;
        align-self: self-end;
    }

    .buttons-container {
        grid-area: buttons;
        justify-content: flex-start;
    }

    .buttons-container a {
        font-size: 2.4rem;
        width: 20rem;
    }

    .span-description {
        grid-area: total;
        font-size: 5rem;
        justify-self: end;
        align-self: center;
    }

    .span-description h3 {
        font-size: 1.5rem;
    }
}


