:root{
   font-size: 60%;

   --color-background: #f5f5f5;
   --color-shadow: #dfe2e6;
   --color-primary-light: #dabde4;
   --color-primary:#FAD181;
   --color-primary-dark: #e3ac59;
   --color-secundary: #612F74;
   --color-secundary-dark: #432050;
   --color-secundary-light: #9447B0;
   --color-box: #FBFBFB;
   --color-title: #F2F2F2;
   --color-text: #FFFFFF;
   --color-text-dark: #9C98A6;
   --color-text-in-dark: #3F3D56;
   --color-box-footer: #FAFAFC;

}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body, #root {
   height: 100vh;
}

body {
   background: var(--color-background);
}

#root {
   display: flex;
   align-items: center;
   justify-content: center;
}

body, input, button, textarea{
   font: 400 1.6rem Poppins;
   color: var(--color-text-in-dark);
}

.container {
   width: 90vw;
   max-width: 700px;
}

@media (min-width: 700px) {
   :root {
      font-size: 62.5%;
   }
}